#################   .gitignore    #################

#################   credentials   #################
cred/
keys/

#################   data files    #################
data/
appdata/

#################  distro files   #################
build/
.Python
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
*.egg
.installed.cfg
*.manifest
*.spec
*.so
site/
target/
.webassets-cache/
platforms/
plugins/
hooks/

#################  unit testing   #################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

#################  dependencies   #################
node_modules/

#############  version control  ################
.hgignore
.hg/
dev/
tests_dev/


#################    IDE files    #################
.DS_STORE
.netbeans
nbproject
.idea
.node_history
__pycache__

#################   backup sync   #################
desktop.ini
*.gdoc
.dropbox
Thumbs.db